body {font-family: Tahoma, Geneva, sans-serif; background:#D5E1DD}
p {width:650px; color:#2B3E42;}
.menu {width:720px; padding:5px; background-color:#F7F3E8; margin: 0px; border-color: #2B3E42; border-width: 1px; border-style: solid}
a:link.menuLink {color:#2B3E42; text-decoration:none}
a:visited.menuLink {color:#2B3E42; text-decoration:none}
a:hover.menuLink {color:#2B3E42; text-decoration:none}
a:active.menuLink {color:#2B3E42; text-decoration:none}
.submenu {padding:5px; background-color:#F7F3E8; margin: 0px; border-color: #2B3E42; border-width: 1px; border-style: solid}
input {border-color: #747E80; background-color: #F7F3E8}
textarea {border-color: #747E80; background-color: #F7F3E8}
select {border-color: #747E80; background-color: #F7F3E8}
pre {background:#F7F3E8; padding:4px; margin: 2px; }
.scrollbox {width: 700px; overflow:auto;}
.pass {background:#77BED2; padding-left:10px;}
.fail {background:#F2583E; padding-left:10px;}
.help {width:700px; padding: 10px;}
